body{
	background-color: #D1DCB2;
}
::-webkit-scrollbar {
  width: 0;
}
.container{
	width: 100%;
	max-width: 1680px;
	margin:0 auto;
	padding: 0;
	background-color: #CBDE99;
}
.font{
	font-size: 32px;
}
a {
    text-decoration: underline;
    text-decoration: none;
    color: #00835A;
}
.photo{
	display: flex;
	justify-content: left;
  	animation-name: Appearance;
  	animation-duration: 5s;
}
.photo-size{
	width: 20vw;
	height: 22vw;
	border-radius: 10px;
  	animation-name: Appearance;
  	animation-duration: 5s;
}
.P-borders{
	width: 20vw;
	height: 22vw;
	padding: 0.5vw
}
.grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 1600px;
	width: 92vw;
}
.borders{
	border: 3px solid black;
	border-bottom: 0px;
	border-radius: 10px;
}
.header{
	
}
.border-bottom{
	border-bottom: 3px solid black;
}
.block-padding{
	padding: 2vw 2vw;
}
.interests{
	
}
.hobbies{

}
.img-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.img-size{
	width: 35vw;
	height: 25vw;
	border-radius: 26px;
}
.img-padding{
	padding-bottom: 1vw;
	padding-top: 1vw;
}
.button{
	display: flex;
	justify-content: center;
	margin-top: 3vw;
	width: 100px;
	background-color: #CBDE99;
}
.center{
	display: flex;
	justify-content: center;
}
@-webkit-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
